@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-navy-950: hsl(233, 47%, 7%);
  --color-blue-950: hsl(244, 37%, 16%);
  --color-purple-500: hsl(277, 64%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-750: hsla(0, 0%, 100%, 0.75);
  --color-white-600: hsla(0, 0%, 100%, 0.6);
  --font-secondary: "Lexend Deca";
}

@layer utilities {
  * {
    @apply text-white text-center sm:text-left;
    font-size: 15px;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
}
